*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header{
    background-color:#EAC926;
    padding: 10px;
}
/*Paleta de colores:
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
header p{
    text-align: center;
}
.titulares{
    font-size: 24px;
}
p{
    font-size: 12px
}
.precio{
    font-size: 18px;
    display: flex;
    width: 30%;

}
.Descuentos{
    font-size: 16px;
    color: #39b54a;
    display: flex;
    width: 70%;
    
}


.main-article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
  }

.main-article p {
    margin: 0;
    
}
.main-article{
   display: flex;
   flex-wrap: wrap;
   position: relative;
}
.Descripcion{
    font-size: 16px;
    color: #666;
}
.Descripcion::hove{
    
}
@media screen and (min-width: 361px){
nav{
    display: none;
}
header p{
    margin-left: 60px;
}
main .Descripcion{
    display: none;
}

}


footer {
    font-size: 24px;
    text-align: center;
    background-color:#EAC926;
}
footer h3{
    margin: auto;
}
footer i{
    margin-bottom: 10px;
    font-size: 2em;
    color: #1259c3;
    margin-top: 25px;
}
.burger-menu{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3;
    text-align: center;
    margin: auto;
}
main{
    text-align: center;
    width: 90%;
    margin: auto;
}
.banner img{
    width: 100%;
}
.producto article{
    border: 1px solid #ebebeb;
    padding: 15px;
    margin-bottom: 10px;
}
header p{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.main-header-top-nav ul{
    margin: 0;
    padding: 0;
}
.main-header-top-nav a{
    text-decoration: none;
    color: #666;
    display: inline-block;
    padding:5px 0;
}
.producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.top-header{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    width: 50%;
}
.in-button{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    
    .formLoggin{
        padding: 20px 15px;
    }
    .control-formulario{
        margin-bottom: 15px;
    }
    .control-formulario label{
        margin-bottom: 5px;

    }
    .pass{
        width: 100%;
        padding: 8px;
    }
    .usuario
    {
        width: 100%;
        padding: 8px;
    }
    .boton-ingresar{
        background-color: #1259c3;
        border: none;
        font-size: 20px;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }

    @media screen and (min-width: 769px){
        .producto article:hover{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
        nav{
            display: flex;
            justify-content: space-between;
            font-size: x-large;
        }
        nav ul{
            display:flex;
        }
        nav li{
            margin: 15px 15px;
        }
        .burger-menu{
            display: none;
        }
        .top-header{
            justify-content: space-between;
        }
        .logo{
    
           width: auto;
           
        }
        .in-button{
            width: auto;
            font-size: 2em;
           
        }
        .top-header p{
            align-items: center;
            font-size: 1.3em;
        }
        .pass{
            width: 30vh;
            padding: 8px;
        }
        .usuario
        {
            width:30vh;
            padding: 8px;
        }
        .formLoggin{
            text-align: center;
        }
        main .Descripcion{
            display: block;
            opacity:0;
        }
        main .Descripcion:hover{
            display: block;
            opacity:100;
            transition: 450ms;
        }
        .main-article i:hover{
            transform: rotateZ(-90deg);
        }
        footer{
            display: flex;
            padding-bottom: 20px;
            align-items: center;
        }
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .container h1 {
        text-align: center;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .container label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,
    input[type="date"],
    input[type="file"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
    }
    
    .checkbox-group input[type="checkbox"] {
        margin-right: 10px;
    }
    
    .container button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #0022AA;
    }
    footer i:hover{
        color: #0022AA;
    }

    
    